<div>
	<h2>Exam</h2>
	<form ng-class="{hide: repeating == true || startTime != null || result != null}" class="form-horizontal" name="examForm">
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn" ng-disabled="busy" ng-click="startExam()">Start exam</button>
			</div>
		</div>
	</form>
	<div ng-class="{hide: result != null || exam == null}">
		<h3>Exam {{exam.id}}</h3>
		<ul>
			<li ng-repeat="problem in exam.problemList">
				<problem ng-class="{active: solving}" model="problem"></problem>
			</li>
		</ul>

		<button type="submit" class="btn" ng-disabled="problemList.length == 0 || busy" ng-click="submitExam(exam)">Submit</button>
	</div>
	<div class="alert alert-info" ng-class="{hide: result == null}">{{resultMessage}}</div>
	<div class="control-group" ng-class="{hide: result == null}" >
		<div class="controls">
			<button type="submit" class="btn" ng-disabled="busy" ng-click="startNextExam()">Start next exam</button>
		</div>
	</div>
</div>
