<div>
	<h2>Profile</h2>
	<form class="form-horizontal" name="profileForm">
		<div class="control-group">
			<div class="controls">
				<input type="text" id="inputEmail" placeholder="Email" ng-model="email" required>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="password" id="inputPassword" placeholder="Password" ng-model="password" required>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<div class="alert alert-error" ng-class="{hide: errorMessage == ''}"><strong>Error</strong>: {{errorMessage}}</div>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn" ng-disabled="profileForm.$invalid || busy" ng-click="apply()">Apply</button>
			</div>
		</div>
	</form>

</div>
