<div>
	<form class="form-horizontal">
		<div class="control-group">
			<div class="controls">
				<input type="text" id="inputEmail" placeholder="Email" ng-model="userId">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="password" id="inputPassword" placeholder="Password" ng-model="password">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn" ng-click="signUp()">Sign Up</button>
			</div>
		</div>

	</form>
</div>