<!doctype html>
<html ng-app="cadmis">
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-resource.min.js"></script>
	<script src="script/bootstrap.min.js"></script>
	<script src="cadmis.js"></script>
	<link rel="stylesheet" href="style/bootstrap.min.css">
	<link rel="stylesheet" href="style/cadmis.css">
	<title>cadmis</title>
</head>
<body ng-controller="CadmisController">
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" ng-click="select('user-home')">cadmis</a>
			<ul class="nav">
				<li ng-class="{hide: !authenticated, active: selected == 'ranking'}">
					<a href="#" ng-click="select('ranking')"><i class="icon-list"></i> Ranking</a>
				</li>
				<li ng-class="{hide: !authenticated, active: selected == 'exam'}">
					<a href="#" ng-click="select('exam')"><i class="icon-pencil"></i> Exam</a>
				</li>
			</ul>
			<ul class="nav pull-right" >
				<li ng-class="{hide: !authenticated, active: selected == 'profile'}">
					<a href="#" ng-click="select('profile')"><i class="icon-user"></i> Profile</a>
				</li>
				<li ng-class="{hide: !authenticated}">
					<a href="#" ng-click="logout()">Logout</a>
				</li>
			</ul>
		</div>
	</div>
	<div>
		<ng-switch on="authenticated">
			<div ng-switch-when="false">
				<greeting></greeting>
			</div>
			<div ng-switch-default>
				<ng-switch on="selected">
					<div ng-switch-when="ranking">
						<ranking></ranking>
					</div>

					<div ng-switch-when="exam">
						<exam></exam>
					</div>

					<div ng-switch-when="profile">
						<profile></profile>
					</div>

					<div ng-switch-default>
						<user-home></user-home>
					</div>
				</ng-switch>
			</div>
		</ng-switch>
	</div>
</body>
</html>